@charset "UTF-8";

body {
  color: #000;
  background-color: rgb(226, 230, 245);
  font-family: "Droid Serif", YuGothic, "游ゴシック", sans-serif;
}
.top-imag {
  margin-top: 55px;
}
.controler a:hover {
  opacity: 0.4;
  padding: 0px;
}
.title h1 {
 font-size: 4.5rem;
}
.title h2{
  font-size: 1rem;
  text-shadow: 3px 3px 3px black;
}
.title {
  color: snow;
  height: 400px;
  background-color: black;
  background-image: url("img/tai1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  line-height: 5px;
  letter-spacing: 2px;
  font-family: serif;
}
.carousel {
  text-align: center;
}
.carousel a:hover {
  text-decoration: none;
  color: #fff;
}
.rule-image {
  margin: 50px 20px;
  width: 420px;
  height: 350px;
}
.controler {
  background-color: rgb(57, 96, 224);
  border-radius: 100%;
  width: 400px;
  padding: 25px;
  height: 600px;
  color: #fff;
}
.main {
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
}
.sub-title {
  width: 200px;
  margin: 0px auto 20px auto;
  font-weight: bold;
  padding: 5px 5px;
  border-bottom: solid 5px rgb(79, 117, 223);
}
.rule {
  background-color: rgb(220, 226, 245);
  padding: 35px 20px 20px;
  margin: 0 auto;
}
.rule img {
  border: solid 6px rgba(255, 255, 255, 0.432);
  border-radius: 8px;
  margin-bottom: 9px;
  margin-top: 13px
}
.rule-text {
  margin: 30px auto;
  display: inline-block;
  background-color: #fff;
  border: solid 4px rgba(51, 112, 224, 0.699);
  border-radius: 5px;
  padding: 25px;
  width: 450px;
  margin-top: 17px;
}
.rule-text1,
.rule-text2,
.rule-text3,
.rule-text4 {
  margin: 0;
}
.rule-text2,
.rule-text3, 
.rule-text4 {
  display: none;
}
.game {
  padding: 35px 20px 20px;
}
.game-item {
  border: solid 2px gray;
  margin: 20px 20px;
  width: 400px;
  display: inline-block;
  box-shadow: 0 3px 4px 0 gray;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
}
.game-item:hover {
  opacity: 0.6;
}
.game-item a {
  padding: 40px;
  margin: 5px 10px;
}
.game-item h1,
.game-item p{
  color: #000;
}
p.com{
  margin: 0px auto;
}
.game-item h1:hover,
.game-item p:hover {
  color: rgba(0, 0, 0, 0.466);
}
footer {
  background-color: rgb(79, 117, 223);
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin-top: 30px;
}
.main {
  margin: 0px auto 70px;
}
.container{
  text-align: center;
}
.con-title {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 625px) {

.title {
  height: 300px;
}

.title h1 {
  font-size: 7.5vw;
  text-align: center;
}
.title h2{
  font-size: 3.4vw;
  text-align: center;
  margin: 1px 12px;
}
.rule {
  padding: 20px 5px;
}
.carousel {
  width: 100%;
}
.controler {
  padding: 10px;
}
.rule-image{
  width: 70%;
  height: 270px;
}
.rule-text{
  width: 100%;
}
.game-item {
  width: 90%;
}
.info-title{
  font-size: 6.2vw;
}
}